html, body {
    height: 100vh;
   
  }
  
.footer {
    position: relative;
    bottom:20px;
    clear:both;
    padding-top:20px;
  } 

.recordBtnGroup{
  width: 100%; 
}

.recordBtn{
  width: 50% !important; 
  padding-top: 10px; 
}

.recordBtn.active{
  background-color: #84c6ff;
}

.primeContent{
  padding-top: 30px; 

}

.accSubtitle{
  font-size: 14px; 
  color: rgb(139, 139, 139);
  text-align: center;  
}

.accKeyFigure{
  font-size: 30px; 
  text-align: center; 
}

.pageHeader{
  font-size: 55px; 
  color: #b9b9b929; 
  text-align: right;
  padding-bottom: 20px; 
}

.tab-content{
  padding-top: 15px; 
}