html, body {
    height: 100vh;
   
  }
  
.footer {
    bottom:20px;
    clear:both;
    padding-top:20px;
  } 

.primeContent{
  padding-top: 30px; 
}

.paddingBottom{
  padding-bottom: 30px; 

}

/* RECORD */ 


.recordBtnGroup{
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 4px; 
}

.recordBtn{
  width: 50% !important; 
  padding-top: 10px; 
}

.recordBtn.active{
  background-color: #6a7279;
  color: white; 
}

.subfigure{
  color: #b9b9b9; 
  font-size: 10px; 
}



/* ACCOUNT */
.accSubtitle{
  font-size: 14px; 
  color: rgb(139, 139, 139);
  text-align: center;  
}

.accKeyFigure{
  font-size: 30px; 
  text-align: center; 
}

.pageHeader{
  font-size: 55px; 
  color: #b9b9b929; 
  text-align: right;
  padding-bottom: 20px; 
}

.tab-content{
  padding-top: 15px; 
}


/* SCHEDULER */

.inputTime{
  width: 100%; 
  text-align: right; 

}

.slotSelected{
  background-color:red !important; 
}