<div class="pageHeader">Anträge</div>

<div class="container"><h1>Erfassen und Berabeiten von Anträgen</h1></div>
<div id="exTab1" class="container">	
        <ul  class="nav nav-pills">
			<li class="active">
                <a  href="#1a" data-toggle="tab">Hausbesuch</a>
			</li>
			<li>
                <a href="#2a" data-toggle="tab">Zeitnachtrag</a>
			</li>
			<li>
                <a href="#3a" data-toggle="tab">Urlaub</a>
			</li>
		</ul>
			<div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <h3>Content's for Hausbesuch</h3>
                </div>
                <div class="tab-pane" id="2a">
                    <h3>Zeitnachtrag</h3>
                </div>
                <div class="tab-pane" id="3a">
                    <h3>Urlaub</h3>
                </div>
			</div>
</div>


<div class="container primeContent">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne">
                   <i class="fa fa-bath" aria-hidden="true"></i>
                   Zeitnachträge
                </a>
                
              </h4>
        
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">Typ</th>
                            <th scope="col">Richtung</th>
                            <th scope="col">Tag</th>
                            <th scope="col">Bearbeitungsstatus</th>
                            <th scope="col">Änderung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseTwo" 
                class="collapsed">
                <i class="fa fa-bath" aria-hidden="true"></i>
                Urlaubsanfragen
            </a>
            </h4>
    
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">Start</th>
                            <th scope="col">Ende</th>
                            <th scope="col">Bearbeitungsstatus</th>
                            <th scope="col">Änderung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
  
    </div>