
<div class="loginContainer">
    <form [formGroup]="userForm" >
            <div class="row">
                <div class="col-md-12">
                    <input formControlName="username" id="username"[(ngModel)]="model.username"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 subtitle">
                    <label for="username">username</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <input  type="password" formControlName="password" id="password" [(ngModel)]="model.password"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 subtitle">
                        <label for="password">password</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <button (click)="login()" [disabled]="!userForm.valid">Submit</button>
                </div>
            </div>
    </form> 
</div>