
<div class="pageHeader">Daten erfassen</div>
<h4>{{currTime}}</h4>
<div class="row">
    <div class="col-md-4">
            <div class="btn-group btn-group-lg recordBtnGroup" role="group" aria-label="Large button group">
                <!-- direction buttons --> 
                    <button type="button" class="btn btn-secondary active recordBtn" data-val=1 (click)="dirBtnClick($event)">Kommen</button>
                    <button type="button" class="btn btn-secondary recordBtn" data-val=2 (click)="dirBtnClick($event)">Gehen</button>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="recordBtnClick($event)">Eintragen</button>
    </div>
    <div class="col-md-8">
        <table id="timePairsTbl" class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Tag</th>
                <th scope="col">Kommen</th>
                <th scope="col">Gehen</th>
                <th scope="col">Arbeitszeit</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of timePairs;">
                    <th scope="row">{{identifyMissingMatch(row)}} </th>
                    <td>{{formatter.formatDateDayMonth(row.refdate)}}
                        <p class="subfigure">
                                {{formatter.formatDateYear(row.refdate)}}
                        </p>
                    </td>
                    <td>
                        {{row.cometime}}
                        <p class="subfigure">
                            {{row.cometimeid}}
                        </p>
                    </td>
                    <td>
                        {{row.gotime}}
                        <p class="subfigure">
                            {{row.gotimeid}}
                        </p>
                    </td>
                    <td>{{formatter.formatNumberDecimals(row.difference,2)}}</td>
                </tr>
                <tr (click)="handlePaginagingClick()">
                    <th colspan="4"></th>
                    <td>
                        Mehr...
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>